@model TrainChecklist.Models.Pojazd

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaPojazdu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaPojazdu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projekt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projekt.NazwaProjektu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
