@model IEnumerable<TrainChecklist.DomainModels.Train>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="~/Trains/Create">Create New</a>  
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a href="~/Trains/Edit/?id=@item.Id">Edit</a> |
                    <a href="~/Trains/Details/?id=@item.Id">Details</a> |
                    <a href="~/Trains/Delete/?id=@item.Id">Delete</a>
                </td>
            </tr>
    }
    </tbody>
</table>